{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue etc</h1>
			<p class="lead">Application gestion</p>
			<hr class="my-4">
			<p>Rdv page inscription.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">cliquer ici</a>
			</p>
		</div>
	</div>
{% endblock %}
